table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
}
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}
.tabla{
    padding: 0 10px 0 10px;
}
.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.input{
    height: 30px;
}
.binoculares{
    font-size: 2rem;
    margin-right: 10px;
}
#iconos{
    width: 40px;
}
#iconos:hover{
    cursor: pointer;
}
.botones{
    padding: 0px;
    border: none;
    background-color: transparent;
}

.ancla{
    text-decoration: none;
    color: white;
}

.botonAgregar{
    border: none;
    background-color: transparent;
}
.botonAgregar:hover{
    background-color: green;
}
.botonesAcciones{
    border: transparent;
    background-color: transparent;
    margin: 5px;
}
#avatarTabla {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}