.containerCredencial {
    border: 2px solid #ccc;
    border-radius: 15px; 
    width: 450px;
    height: 180px;
    background-image: url("../../assets/carnet.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    display: grid;
    grid-template-rows: 1fr 3fr; 
    align-items: center;
    justify-items: center;
    padding-top: 120px;
    color: #333;
    position: relative;
}

.containerPadre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc; 
    position: absolute; 
    top: -40px;
    background-color: #fff;
}

h4 {
    margin: 5px 0;
    font-size: 17px;
    text-align: center;
}

.text-content {
    display: grid;
    grid-template-areas: 
        "nombre nombre"
        "fecha fecha"
        "dni obra"
        ". obra-datos";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.text-content h4:nth-child(1) {
    grid-area: nombre;
}

.text-content h4:nth-child(2) {
    grid-area: fecha;
}

.text-content h4:nth-child(3) {
    grid-area: dni;
}

.text-content h4:nth-child(4) {
    grid-area: obra;
}

.text-content h4:nth-child(5) {
    grid-area: obra-datos;
    margin: 0;
}